// App custom color variables.
$brand-blue:          #1068b7;
$brand-dark-blue:     #0a314d;
$brand-light-blue:    #66afe9;
$brand-red:           #f42525;
$brand-dark-red:      #c61818;
$brand-green:         #2ca722;
$brand-yellow:        #dfdb07;
$brand-white:         #ffffff;
$brand-black:         #000000;

$brand-dark-gray:     #adb5c7;
$brand-gray-border:   #e2e2e2;
$brand-gray:          #f2f2f2;
$brand-light-gray:    #f2f5f8;
$brand-gray-border:   #e2e2e2;
 
$brand-primary:     #545dad;
$brand-secondary:   #0082a3;
$brand-success:     #349f6b;
$brand-danger:      #ed7632;
$brand-light:       #ffffff;

$body-bg: $brand-gray;
$body-color: $brand-black;
$header-bg: $brand-white;
$header-color: $brand-black;
$sidebar-bg: $brand-black;
$sidebar-color: $brand-white;
$sidebar-active: #91e9ff;

$checkbox-border: #b3b3b3;
