/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,600&display=swap'); */
//@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

@import './theme_variables';

// Override default variables before the import
 /*$body-bg: $brand-black;*/
//$font-family-base: 'Open Sans', Sans-Serif !important;
$font-family-base:  'Poppins', sans-serif !important;
/*$body-color: #ffffff;*/
/* make the customizations */

 
$theme-colors: (
"brand-blue":          $brand-blue,
"brand-dark-blue":     $brand-dark-blue,
"brand-light-blue":    $brand-light-blue,
"brand-gray-border":   $brand-gray-border,
"brand-gray":          $brand-gray,
"brand-green":         $brand-green,
"brand-white":         $brand-white,
"brand-black":         $brand-black,
"brand-red":           $brand-red,
"brand-yellow":        $brand-yellow,
 
"brand-dark-gray": $brand-dark-gray,
"primary":  $brand-primary,
"secondary":  $brand-secondary,
"success":  $brand-success,
"danger":  $brand-danger 
);

 
body {
  padding-top: 0 !important;
}
 
 

.module-container {
  display: flex;
  height: auto;
  position: relative;
  padding: 0 !important;
  margin:0 !important; 
}

.module-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.module-content {
  flex: 1;
  padding: 0;
  height: 100%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}


// Large devices (desktops, 992px and up)
 @media (min-width: 992px) { 

  }

// Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { 

 }

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

