@import '../styles/theme_variables';
.rounded.btn {
    overflow: visible;
}
.rounded-icon {
    width: 35px;
    height:35px;
    background-color: $brand-dark-blue;
    &.icon-green {
        background-color: $brand-success;
    }

    &.icon-gray {
        background-color: $brand-gray-border;
    }

    &.icon-danger {
        background-color: $brand-danger;
    }

}

.rounded-icon-label{
    overflow: visible;
    //width: 35px;

    .rounded-icon-label-text {
       
        font-size: .7rem;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .rounded-icon-label{
     
        .rounded-icon-label-text {
            padding: 2px;
            font-size: .9rem;
        }
    }
  }
  
  @media (min-width: 768px) { 
   
  }
