@import '../styles/theme_variables';

.table-component {
  background: $brand-white;

  .table-actions {
      padding-bottom: 1rem;
      text-align: right;
      font-size: .75rem;
      font-weight: bold;

      .divider {
          height: 100%;
          border-right: 1px solid $brand-dark-gray;
          margin: 0 .5rem;
      }

      select,
      select:focus {
          border: none;
          outline: none;
          font-weight: bold;
          cursor: pointer;
      }

      .search-icon {
        box-sizing: content-box;
        margin: 0 -.25rem;
        padding: .5rem;
        color: $brand-dark-gray;
        cursor: pointer;
      }

      .add-btn .primary-circle-btn {
          font-size: 20px;
          vertical-align: middle;
      }
  }

  table {
      font-size: .7rem;

      thead {
          background-color: $brand-light-gray;

          input.form-control {
              background: $brand-white;
          }
      }

      th {
          padding: 1rem;
          border: none;

          &.check-column {
              width: 60px;
          }
      }

      .search-tr > th {
          padding-top: 0;
      }

      td {
          padding: .5rem 1rem;
          border: none;
      }

      .btn {
          font-size: .7rem;
          font-weight: bold;
      }

      .actions-th {
          background-color: $brand-gray;
      }
  
      .delete-btn {
          color: $brand-dark-gray;
          cursor: pointer;
      }
  }

  hr.dotted {
      border-top-style: dotted;
      border-top-width: 1.75px;
  }

  .pagination {
      display: block;
      padding: .5rem;
      font-size: .75rem;
      text-align: center;

      .pages-of {
          font-weight: bold;
          margin-right: 1em;
      }
  }

  .search-input {
      background: #ffffff;
  }

  .sort-arrows {
      position: relative;
      top: 3px;
      margin-left: .25em;

      > svg {
          position: absolute;

          &:first-child {
              opacity: .25;
          }
      }
  }
}

#select-actions-popover {
    border-color: #00a3a140;
    border-width: 4px;
    left: -17px !important;
    top: 5px !important;
    
    .arrow {
        left: 5px !important;

        &::before {
            border-bottom-color: #00a3a140;
            border-width: 10px;
            top: -15px;
            left: -2px;
            pointer-events: none;
        }
    }

    .popover-body {
        padding: 1rem 1.5rem;
        color: $brand-primary;

        .action {
            font-weight: bold;
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.select-actions-chevron {
    position: relative;
    top: -2px;
    margin-left: 3px;
    color: $brand-dark-gray;
    cursor: pointer;
}
